<div class="projects">
    <% for(var i=0; i < data.length; i++) { %>
        <a href="<%= data[i].link %>" target="_blank">
            <div class="project">
                <div class="info">
                    <p class="title text-shadow dark"><%= data[i].name %></p>
                    <div class="icons">
                        <% for(var j=0; j < tags.length; j++) { %>
                            <% if ( data[i].tags.indexOf(tags[j].name) > -1) { %>
                                <img src="<%= tags[j].icon %>"/>
                            <% } %>
                        <% } %>
                    </div>
                    <p><%= data[i].about %></p>
                </div>
                <div class="images">
                    <img src="<%= data[i].image %>"/>
                </div>
            </div>
        </a>
    <% } %>
    <div class="clear"></div>
</div>
